<div class="tm-main-section light-gray-bg cart-wrap">
  <div class="container" id="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Giỏ hàng</h1>
      </div>
    </section>

    <div class="container mb-4">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="width:7rem;"> </th>
                  <th scope="col" style="width:20rem;">Tên sản phẩm</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col" style="width:5rem;">Size</th>
                  <th scope="col" style="width:13rem;">Lượng đường</th>
                  <th scope="col" style="width:4rem;">Giá</th>
                  <th id="deleteIcon"> </th>
                </tr>
              </thead>
              <tbody id="form-cart">

              </tbody>
            </table>
          </div>
        </div>
        <div class="col mb-2">
          <div class="row">
            <div class="col-sm-12  col-md-6">
              <a href="/menu">
                <button class="btn btn-block btn-light outline btn-lg">Tiếp tục mua hàng</button>
              </a>
            </div>
            <div class="col-sm-12 col-md-6 text-right" id="checkTotalProduct">
              {{#if user.isExist}}
              <a href="/checkout">
                {{else}}
                <a href="/sign-in">
                  {{/if}}
                  <button class="btn btn-lg btn-block btn-success text-uppercase outline">Thanh toán</button>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>