<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
        <div class="container bootdey">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="pro-img-details">
                                <img src="https://via.placeholder.com/550x380/FFB6C1/000000" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="pro-d-title">
                                Sản phẩm 1
                            </h2>
                            <p>
                                Sản phẩm ngon bổ rẻ mua nha
                            </p>
                            <div class="product_meta">
                                <span class="posted_in"> <strong>Categories:</strong> <a rel="tag" href="#">Đồ uống</a>,
                                    <a rel="tag" href="#">Tra sua</a>, <a rel="tag" href="#">Drink</a>, <a rel="tag"
                                        href="#">Tra da</a>.</span>
                                <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">Ngon</a>, <a
                                        rel="tag" href="#">Tra</a>.</span>
                            </div>
                            <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old">35 VNĐ</span> <span
                                    class="pro-price"> 30 VNĐ</span></div>
                            <div class="form-group">
                                <label>Size :</label>
                                <select name="size" id="size">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                                <br>
                                <label for="sp1">Số lượng</label>
                                <div class="quantity-btn-detail">
                                    <input type="button" value="-" class="arrow" onclick="minus('sp1')" />
                                    <input class="form-control" type="number" id="sp1" value="1" min="1" max="99"
                                        onkeyup="this.value=this.value.replace(/[^0-9]./g,'');" />
                                    <input type="button" value="+" class="arrow" onclick="plus('sp1')" />
                                </div>
                            </div>
                            <p>
                                <button class="btn btn-round btn-danger outline">
                                    <i class="fa fa-shopping-cart"></i>
                                    Thêm vào giỏ hàng
                                </button>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>