<section class="sign-in">
    <div class="container-form">
        <div class="signin-content">

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form action="/sign-in" method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="email"><i class="fas fa-envelope icon-singin"></i></label>
                        <input type="email" name="email" id="email" aria-describedby="emailHelp"
                            placeholder="Your Email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="fas fa-lock icon-singin"></i></label>
                        <input type="password" name="your_pass" id="your_pass" placeholder="Password" />
                        {{#if errorEmailOrPass}}
                        <div class="form-text waring">Please check your email or password</div>
                        {{/if}}
                    </div>
                    <div class="form-group left">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" onclick="remember()" class="form-submit"
                            value="Log in" />
                    </div>
                </form>
                <div class="flex-row">
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#" style="color: blue;"><i
                                        class="fab fa-facebook-square display-flex-center social-singin"></i></a></li>
                            <li><a href="#" style="color: rgb(47, 189, 255);"><i
                                        class="fab fa-twitter-square display-flex-center social-singin"></i></a></li>
                            <li><a href="#" style="color: red;"><i
                                        class="fab fa-youtube-square display-flex-center social-singin"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <a href="/sign-up" class="signup-image-link">Create an account</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>