<section class="signup">
    <div class="container-form">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form action="sign-up" method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="name"><i class="icon-singin fas fa-user"></i></label>
                        <input type="text" name="name" id="name" placeholder="Your Name" value="{{dataRequest.name}}" />
                        {{#each alert}}
                        {{#if_equal param "name"}}
                        <div class="form-text waring">Name must 2+ characters long</div>
                        {{/if_equal}}
                        {{/each}}
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-envelope icon-singin"></i></label>
                        <input type="email"  name="email" id="email" aria-describedby="emailHelp" placeholder="Your Email" value="{{dataRequest.email}}">
                        {{#each alert}}
                        {{#if_equal param "email"}}
                        <div class="form-text waring">Email is not valid</div>
                        {{/if_equal}}
                        {{/each}}
                        {{#if errorEmail}}
                            <div class="form-text waring">Email already used</div>
                        {{/if}}
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="fas fa-lock icon-singin"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Password" pattern="^[a-zA-Z0-9]+$" title="Password contains only letters and numbers"/>
                        {{#each alert}}
                        {{#if_equal param "pass"}}
                        <div class="form-text waring">Please check password ! Must have at least 4 characters.</div>
                        {{/if_equal}}
                        {{/each}}
                    </div>
                    <div class="form-group">
                        <label for="re_pass"><i class="fas fa-lock icon-singin"></i></label>
                        <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" pattern="^[a-zA-Z0-9]+$" title="Password contains only letters and numbers" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                            statements in <a href="#" class="term-service">Terms of service</a></label>
                        {{#each alert}}
                        {{#if_equal param "agree-term"}}
                        <div class="form-text waring">Read and agree to terms of service</div>
                        {{/if_equal}}
                        {{/each}}
                    </div>
                    <div class="btnSingUp">
                        <div class="form-group form-button">
                            <input type="submit" id="signup" class="form-submit" value="Register" />
                        </div>
                        <div>
                            <a href="/sign-in" class="signup-image-link">I am already member</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
