<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cafe House</title>
<!-- 
Cafe House Template
http://www.templatemo.com/tm-466-cafe-house
-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../public/css/style.css" rel="stylesheet">
  <link href="../../public/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../public/css/all.css" rel="stylesheet">
  <link href="../../public/css/templatemo-style.css" rel="stylesheet">
  <link rel="shortcut icon" href="../../public/img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../../public/fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- Preloader -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Preloader -->
    <div class="tm-top-header">
      <div class="container">
        <div class="row">
          <div class="tm-top-header-inner logo-login-center">
            <div class="tm-logo-container logo-login-center">
              <a href="/">
                <img src="../../public/img/logo.png" alt="Logo" class="tm-site-logo">
                <h1 class="tm-site-name tm-handwriting-font">Cafe House</h1>
              </a>
            </div>
          </div>           
        </div>    
      </div>
    </div>
    <section class="tm-welcome-section">
      <div class="container tm-position-relative height-singin">
        <div class="tm-lights-container">
          <img src="../../public/img/light.png" alt="Light" class="light light-1">
          <img src="../../public/img/light.png" alt="Light" class="light light-2">
          <img src="../../public/img/light.png" alt="Light" class="light light-3">  
        </div>        
        <div class="row tm-welcome-content">
          <div>
            <section class="sign-in">
              <div class="container-form">
                  <div class="signin-content">
  
                      <div class="signin-form">
                          <h2 class="form-title">Sign in</h2>
                          <form method="POST" class="register-form" id="login-form" >
                              <div class="form-group">
                                  <label for="your_name"><i class="zmdi zmdi-account material-icons-name icon-singin"></i></label>
                                  <input type="text" name="your_name" id="your_name" placeholder="Your Name"/>
                              </div>
                              <div class="form-group">
                                  <label for="your_pass"><i class="zmdi zmdi-lock icon-singin"></i></label>
                                  <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                              </div>
                              <div class="form-group left">
                                  <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                  <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                              </div>
                              <div class="form-group form-button">
                                  <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                              </div>
                          </form>
                          <div class="flex-row">
                            <div class="social-login">
                              <span class="social-label">Or login with</span>
                              <ul class="socials">
                                  <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                  <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                  <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                              </ul>
                            </div>
                            <div>
                              <a href="/register" class="signup-image-link">Create an account</a>
                            </div>
                          </div>
                          
                      </div>
                  </div>
                </div>
            </section>
          </div>
        </div>
        <img src="../../public/img/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
      </div>      
    </section>
    
    <footer>
      <div class="tm-black-bg">
        <div class="container">
          <div class="row margin-bottom-60">
            <nav class="col-lg-3 col-md-3 tm-footer-nav tm-footer-div">
              <h3 class="tm-footer-div-title">Main Menu</h3>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Directory</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Our Services</a></li>
              </ul>
            </nav>
            <div class="col-lg-5 col-md-5 tm-footer-div">
              <h3 class="tm-footer-div-title">About Us</h3>
              <p class="margin-top-15">
                Chúng tôi là cafe Trung Nguyên nguyên chất 99,99%
              </p>
              <p class="margin-top-15">
                Được thành lập năm 2000
              </p>
            </div>
            <div class="col-lg-4 col-md-4 tm-footer-div">
              <h3 class="tm-footer-div-title">Get Social</h3>
              <p>Liên hệ chúng tôi qua các hình thức sau</p>
              <div class="tm-social-icons-container">
                <a href="#" class="tm-social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="tm-social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="tm-social-icon"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="tm-social-icon"><i class="fab fa-youtube"></i></a>
                <a href="#" class="tm-social-icon"><i class="fab fa-behance"></i></a>
              </div>
            </div>
          </div>          
        </div>  
      </div>      
      <div>
        <div class="container">
          <div class="row tm-copyright">
            <p class="col-lg-12 small copyright-text text-center">Copyright &copy; Nhom 3 - Haui</p>
          </div>  
       </div>
     </div>
   </footer> <!-- Footer content-->  
   <!-- JS -->
   <script type="text/javascript" src="../../public/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
   <script type="text/javascript" src="../../public/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
   <script defer src="../../public/js/all.js"></script>
   <script src="../../public/js/jquery/jquery.min.js"></script>

 </body>
 </html>