<div class="tm-main-section light-gray-bg">
      <div class="container" id="main">
        <section class="jumbotron text-center">
          <div class="container">
              <h1 class="jumbotron-heading">Giỏ hàng</h1>
           </div>
      </section>
      
      <div class="container mb-4">
          <div class="row">
              <div class="col-12">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th scope="col"> </th>
                                  <th scope="col">Tên sản phẩm</th>
                                  <th scope="col">Tình trạng</th>
                                  <th scope="col">Size</th>
                                  <th scope="col" class="text-center">Số lượng</th>
                                  <th scope="col" class="text-right">Giá</th>
                                  <th> </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                  <td>Sản phẩm 1</td>
                                  <td>Có sẵn</td>
                                  <td>
                                    <select name="size" id="size">
                                      <option value="S">S</option>
                                      <option value="M">M</option>
                                      <option value="L">L</option>
                                    </select>
                                  </td>
                                  <td>
                                    <div class="quantity-btn">
                                      <input type="button" value="-" class="arrow" onclick="minus('sp1')"/>
                                      <input class="form-control" type="number" id="sp1" value="1" min="1" max="99" onkeyup="this.value=this.value.replace(/[^0-9]./g,'');" />
                                      <input type="button" value="+" class="arrow" onclick="plus('sp1')"/>  
                                    </div>        
                                  </td>
                                  <td class="text-right">12 VNĐ</td>
                                  <td class="text-right"><button class="btn btn-sm btn-danger outline"><i class="fa fa-trash"></i> </button> </td>
                              </tr>
                              <tr>
                                  <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                  <td>Sản phẩm 2</td>
                                  <td>Có sẵn</td>
                                  <td>
                                    <select name="size" id="size">
                                      <option value="S">S</option>
                                      <option value="M">M</option>
                                      <option value="L">L</option>
                                    </select>
                                  </td>
                                  <td>
                                    <div class="quantity-btn">
                                      <input type="button" value="-" class="arrow" onclick="minus('sp2')"/>
                                      <input class="form-control" type="number" id="sp2" value="1" min="1" max="99" onkeyup="this.value=this.value.replace(/[^0-9]./g,'');" />
                                      <input type="button" value="+" class="arrow" onclick="plus('sp2')"/>  
                                    </div>        
                                  </td>
                                  <td class="text-right">34 VNĐ</td>
                                  <td class="text-right"><button class="btn btn-sm btn-danger outline"><i class="fa fa-trash"></i> </button> </td>
                              </tr>
                              <tr>
                                  <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                  <td>Sản phẩm 3</td>
                                  <td>Hết hàng</td>
                                  <td>
                                    <select name="size" id="size">
                                      <option value="S">S</option>
                                      <option value="M">M</option>
                                      <option value="L">L</option>
                                    </select>
                                  </td>
                                  <td>
                                    <div class="quantity-btn">
                                      <input type="button" value="-" class="arrow" onclick="minus('sp3')"/>
                                      <input class="form-control" type="number" id="sp3" value="1" min="1" max="99" onkeyup="this.value=this.value.replace(/[^0-9]./g,'');" />
                                      <input type="button" value="+" class="arrow" onclick="plus('sp3')"/>  
                                    </div>        
                                  </td>
                                  <td class="text-right">70 VNĐ</td>
                                  <td class="text-right"><button class="btn btn-sm btn-danger outline"><i class="fa fa-trash"></i> </button> </td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>Tổng tiền sản phẩm</td>
                                  <td class="text-right">255 VNĐ</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>VAT</td>
                                  <td class="text-right">6 VNĐ</td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td><strong>Tổng tiền</strong></td>
                                  <td class="text-right"><strong>346 VNĐ</strong></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="col mb-2">
                  <div class="row">
                      <div class="col-sm-12  col-md-6">
                          <a href="/menu">
                            <button class="btn btn-block btn-light outline btn-lg">Tiếp tục mua hàng</button>
                          </a>
                      </div>
                      <div class="col-sm-12 col-md-6 text-right">
                        <a href="/checkout">
                          <button class="btn btn-lg btn-block btn-success text-uppercase outline">Thanh toán</button>
                        </a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div> 