<div class="tm-main-section light-gray-bg">
  <div class="container" id="checkout">
    <section class="jumbotron text-center">
      <div class="container">
          <h1 class="jumbotron-heading">Thông tin nhận hàng</h1>
        </div>
    </section>
    <div >
      {{!-- <div class="row"> --}}
          <div class="checkout-content">
            <div class="checkout-left flex-col">
              <div class="flex-col checkout-item-range">
                <label>Tên</label>
                <div><input type="text" placeholder="Họ Tên"/></div>
              </div>
              <div class="flex-col checkout-item-range">
                <label>Số điện thoại</label>
                <div><input type="text" placeholder="Vui lòng điền số điện thoại của bạn"/></div>
              </div>
              <div class="total-amount">
                <div id="title-checkout-order"><h4>Thông tin đơn hàng</h4></div>
                <div class="amount-item horizontal-line">
                  <div>Tạm tính (1 sản phẩm)</div>
                  <div>14.000 đ</div>
                </div>
                <div class="amount-item horizontal-line">
                  <div>VAT</div>
                  <div>10.000 đ</div>
                </div>
                <div class="amount-item">
                  <div>Tổng cộng</div>
                  <div>10.000 đ</div>
                </div>
              </div>
            </div>
            <div class="checkout-right flex-col">
              <div class="flex-col checkout-item-range">
                <label>Địa chỉ nhận hàng</label>
                <div><input type="text" placeholder="Vui lòng nhập địa chỉ"/></div>
              </div>
              <div class="flex-col checkout-item-range">
                <label>Tỉnh/ Thành phố</label>
                <select name="calc_shipping_provinces" required="">
                  <option>Vui lòng chọn Tỉnh/ Thành phố</option>
                </select>
              </div>
              <div class="flex-col checkout-item-range">
                <label>Quận/ Huyện</label>
                <select name="calc_shipping_district" required="">
                  <option>Vui lòng chọn Quận/ Huyện</option>
                </select>
              </div>
              <div class="flex-col checkout-item-range">
                <label>Phường/ Xã</label>
                <select>
                  <option>Vui lòng chọn Phường/ Xã</option>
                  <option>Hà Nội</option>
                  <option>Nam Định</option>
                </select>
              </div>
              <input class="billing_address_1" name="" type="hidden" value="">
              <input class="billing_address_2" name="" type="hidden" value="">
            </div>
          </div>
          <div class="col mb-2">
              <div class="row">
                  <div class="col-sm-12  col-md-6">
                      <a href="/cart">
                        <button class="btn btn-block btn-light outline btn-lg">Chở về giỏ hàng</button>
                      </a>
                  </div>
                  <div class="col-sm-12 col-md-6 text-right">
                      <button class="btn btn-lg btn-block btn-success text-uppercase outline">Xác nhận đơn hàng</button>
                  </div>
              </div>
          </div>
      {{!-- </div> --}}
    </div>
  </div>
</div> 